<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" />
    <link rel="stylesheet" href="/stylesheets/fonts.googleapis.com.css" />
    <link rel="stylesheet" href="/stylesheets/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />


    <link rel="stylesheet" href="/stylesheets/ace-skins.min.css" />
    <link rel="stylesheet" href="/stylesheets/ace-rtl.min.css" />

    <script src="/javascripts/ace-extra.min.js"></script>

    <title>{{title}}</title>
    {{{block "head"}}}
</head>
<body class="no-skin">
{{{body}}}

<script src="/javascripts/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='/javascripts/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/jquery-ui.custom.min.js"></script>
<script src="/javascripts/jquery.ui.touch-punch.min.js"></script>
<script src="/javascripts/jquery.sparkline.index.min.js"></script>
<script src="/javascripts/jquery.flot.min.js"></script>
<script src="/javascripts/jquery.flot.pie.min.js"></script>
<script src="/javascripts/jquery.flot.resize.min.js"></script>

<script src="/javascripts/ace-elements.min.js"></script>
<script src="/javascripts/ace.min.js"></script>
{{{block "js"}}}
</body>
</html>
