<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" />
    <link rel="stylesheet" href="/stylesheets/fonts.googleapis.com.css" />
    <link rel="stylesheet" href="/stylesheets/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />


    <link rel="stylesheet" href="/stylesheets/ace-skins.min.css" />
    <link rel="stylesheet" href="/stylesheets/ace-rtl.min.css" />

    <script src="/javascripts/ace-extra.min.js"></script>

    <title>{{title}}</title>
    {{{block "head"}}}
</head>
<body class="no-skin">

<div id="navbar" class="navbar navbar-default ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        <div class="navbar-header pull-left">
            <a href="/" class="navbar-brand">
                <small>
                    <i class="fa fa-leaf"></i>
                    eCommerce Dashboard
                </small>
            </a>
        </div>

        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="purple dropdown-modal">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                        <span class="badge badge-important">0</span>
                    </a>

                    <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                        <li class="dropdown-header">
                            <i class="ace-icon fa fa-exclamation-triangle"></i>
                            0 Notifications
                        </li>

                        <li class="dropdown-content">
                            <ul class="dropdown-menu dropdown-navbar navbar-pink">
                            </ul>
                        </li>

                        <li class="dropdown-footer">
                            <a href="#">
                                See all notifications
                                <i class="ace-icon fa fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="light-blue dropdown-modal">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" src="/images/avatars/person-flat.png" alt="Son Tieu's Photo" />
                        <span class="user-info">
                                    <small>Welcome,</small>
                                </span>

                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>

                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="#">
                                <i class="ace-icon fa fa-cog"></i>
                                Settings
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="ace-icon fa fa-user"></i>
                                Profile
                            </a>
                        </li>

                        <li class="divider"></li>

                        {{#if isSignedIn}}
                            <li>
                                <a href="#" onclick="logout()" >
                                    <i class="ace-icon fa fa-sign-out"></i>
                                    Logout
                                </a>
                            </li>
                        {{else}}
                            <li>
                                <a href="/login">
                                    <i class="ace-icon fa fa-sign-in"></i>
                                    Sign In
                                </a>
                            </li>
                            <li>
                                <a href="/register">
                                    <i class="ace-icon fa fa-sign-in"></i>
                                    Sign Up
                                </a>
                            </li>
                        {{/if}}


                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /.navbar-container -->
</div>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try{ace.settings.loadState('main-container')}catch(e){}
    </script>
    <div id="sidebar" class="sidebar responsive ace-save-state">
        <script type="text/javascript">
            try{ace.settings.loadState('sidebar')}catch(e){}
        </script>

        <ul class="nav nav-list">
            {{#if activeDashboard}}
              <li class="active">
            {{else}}
                <li>
            {{/if}}
                <a href="/">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text"> Dashboard </span>
                </a>

                <b class="arrow"></b>
            </li>

            {{#if activeProduct }}
                <li class="open">
            {{else}}
                <li class="">
            {{/if}}
            <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-sitemap"></i>
                    <span class="menu-text">
                                Product
                            </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    {{#if isSignedIn}}
                        {{#if activeAllProducts}}
                            <li class="active">
                            {{else}}
                            <li class="">
                            {{/if}}
                            <a href="/products">
                                <i class="menu-icon fa fa-caret-right"></i>
                                All Products
                            </a>

                            <b class="arrow"></b>
                        </li>
                            {{#if activeAddProduct}}
                            <li class="active">
                            {{else}}
                            <li class="">
                            {{/if}}
                            <a href="/products/new">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Add Product
                            </a>

                            <b class="arrow"></b>
                        </li>
                    {{/if}}
                </ul>
            </li>
        </ul><!-- /.nav-list -->

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>

    {{{body}}}

</div>


<script src="/javascripts/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='/javascripts/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/jquery-ui.custom.min.js"></script>
<script src="/javascripts/jquery.ui.touch-punch.min.js"></script>
<script src="/javascripts/jquery.sparkline.index.min.js"></script>
<script src="/javascripts/jquery.flot.min.js"></script>
<script src="/javascripts/jquery.flot.pie.min.js"></script>
<script src="/javascripts/jquery.flot.resize.min.js"></script>

<script src="/javascripts/ace-elements.min.js"></script>
<script src="/javascripts/ace.min.js"></script>
<script>
    function logout() {
        $.ajax({
           type: "POST",
            url: '/logout',
            success: function (response) {
                window.location.href = '/login';
            }
        });
    }
</script>

{{{block "js"}}}
</body>
</html>


