{{!< main_layout }}
<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <h2 style="margin-left: 25%;margin-bottom: 20px;color: #438eb9;">
                        {{item.title}}
                    </h2>
                    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">

                        {{#if isEdit}}
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="item_id"> ID </label>

                                <div class="col-sm-9">
                                    <input type="text" name="item_id" id="item_id" placeholder="ID" class="col-xs-10 col-sm-5" value="{{item.id}}" disabled/>
                                </div>
                            </div>
                        {{else}}

                        {{/if}}

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="item_sku"> SKU </label>

                            <div class="col-sm-9">
                                <input type="text" name="item_sku" id="item_sku" placeholder="SKU" class="col-xs-10 col-sm-5" value="{{item.sku}}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="item_model"> Model </label>

                            <div class="col-sm-9">
                                <input type="text" name="item_model" id="item_model" placeholder="Model" class="col-xs-10 col-sm-5" value="{{item.model}}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="item_title"> Title </label>

                            <div class="col-sm-9">
                                <input type="text" name="item_title" id="item_title" placeholder="Title" class="col-xs-10 col-sm-5" value="{{item.title}}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="item_size"> Size </label>

                            <div class="col-sm-9">
                                <input type="text" name="item_size" id="item_size" placeholder="Size" class="col-xs-10 col-sm-5"  value="{{item.size}}"/>
                            </div>
                        </div>

                        {{#if isEdit}}
                            <img  style="margin: 15px 35% 15px 35%;" src="{{item.thumbnail}}" />
                        {{/if}}

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="item_thumbnail"> Thumbnail </label>

                            <div class="col-sm-4">
                                <label class="ace-file-input">
                                    <input type="file" name="item_thumbnail" id="id-input-file-2">
                                        <span class="ace-file-container" data-title="Choose">
                                            <span class="ace-file-name" data-title="No File ...">
                                            <i class=" ace-icon fa fa-upload"></i>
                                            </span>
                                         </span>
                                    <a class="remove" href="#"><i class=" ace-icon fa fa-times"></i></a>
                                </label>
                            </div>
                        </div>

                        <button class="btn btn-primary" style="margin-left: 37%;width: 10%;" type="submit">
                            {{#if isEdit}}
                                Update
                            {{else}}
                                Create
                            {{/if}}
                        </button>
                    </form>

                    {{#if isEdit}}
                        <form action="/products/delete" method="post" style="margin-top: 10px;">
                            <input type="text" name="id" hidden value="{{item.id}}"/>
                            <button class="btn btn-danger"
                                    style="margin-left: 37%;width: 10%;"
                            >
                                Delete
                            </button>
                        </form>

                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>

{{#extend "js"}}
    <script>
        $('#id-input-file-2:file').change(function(e){
            $('span.ace-file-name').attr('data-title', e.target.files[0].name);
        });
    </script>
{{/extend}}

