<div class="row">
    <div class="col-xs-12" style="text-align: center;margin: 30px 0 30px 0;">
        <label class="col-xs-offset-1" style="font-size: 25px;">Register User</label>
    </div>
    <div class="col-xs-12">
        <form role="form" class="form-horizontal" method="post">
            <div class="form-group">
                <label class="col-sm-5 control-label no-padding-right" for="form-field-1"> Username </label>

                <div class="col-sm-7">
                    <input type="text" id="username" name="username" placeholder="Username" class="col-xs-10 col-sm-5" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;); cursor: auto;">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label no-padding-right" for="form-field-1"> Password </label>

                <div class="col-sm-7">
                    <input type="password" id="password" name="password" placeholder="Password" class="col-xs-10 col-sm-5" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;); cursor: auto;">
                </div>
            </div>

            <div class="col-md-offset-6 col-md-9">
                <button class="btn btn-info" type="submit">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    Register
                </button>
            </div>
        </form>
    </div>
</div>

